{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container vh-100" style="background-color:#dee6ec; padding-top: 1px;">
        <div class="bg-light mb-5 d-flex justify-content-center">
            <h3>Hello {{ user.first_name }}</h3>
        </div>
        <div class="row">
            <div class="col-3" style="background-color:#dee6ec">
                <div class="row p-5">
                    <div class="row">
                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="home">Home</a>
                    </div>
                    <div class="row">
                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="profile">Profile</a>
                    </div>
                    <div class="row">
                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="points">Points</a>
                    </div>
                    <div class="row">
                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="task">Task</a>
                    </div>
                    <div class="row">
                        <a class="m-3 btn btn-primary btn-outline-light btn-lg" href="logout">Logout</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 bg-light p-3">
                {% for app in apps %}
                <div class="container m-1 border border-secondary" style="background-color:#dee6ec">
                    {% if app.app_icon %}
                        <img class="m-2" style="width: 80px; height: 80px;" src="{{ app.app_icon.url }}" alt="{{ app.app_name }} Icon">
                    {% else %}
                        <img class="m-2" style="width: 80px; height: 80px;" src="{% static 'path/to/default/icon.png' %}" alt="Default Icon">
                    {% endif %}
                    <div class="d-inline-block">
                        <h3 class="d-inline m-3">{{ app.app_name }}</h3>
                        <a class="m-3" href="{% url 'app' id=app.id %}">View in Detail ></a>
                    </div>
                    <button class="btn btn-success m-3" type="submit">{{ app.points }} POINTS</button>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</body>
</html>
